<h2><%= link_to @pet.name.upcase, "/pets/#{@pet.id}" %>'S ADOPTION APPLICANTS</h2>

<% if @pet.applications.count > 0 %>
  <% @pet.applications.each do |application| %>
   <%= link_to application.name, "/applications/#{application.id}" %></br>
  <% end %>
<% else %>
  There are no applications for this pet, yet.
<%end %>
