<h1>FAVORITED PETS INDEX PAGE</h1>

<% @pets.each do |pet| %>
  <% if favorites.contents.has_key?(pet.id.to_s) %>
    <section id="favpet-<%= pet.id %>">
      <%= pet.name %></br>
      <%= image_tag(pet.image, size: "200x200") %></br></br>
    </section>
  <% elsif favorites.contents.empty? %>
    "There are no favorited pets to display at this time."      
  <% end %> 
<% end %> 
